build/
*.o
*.a
*.so
.vscode/
.idea/
compile_commands.json
obj-*/
debian/.debhelper/
debian/files
debian/*.substvars
debian/debhelper-build-stamp
debian/bc-hrbl/
fuzzing/crashes/
fuzzing/corpus/*/*
!fuzzing/corpus/*/seed_*
